

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab{
   -fx-background-radius: 30em;
   -fx-padding: 2 10 2 10;

}
.tab-pane .tab
{
    -fx-background-color: #DDEEFF;
    -fx-

}

.tab-pane .tab:selected
{
    -fx-background-color: #507AA4;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}