##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## DATABASE SQLITE
##############################
database/database.db

##############################
## OS X
##############################
.DS_Store

##############################
## Maven
##############################
target/

